

<html lang="en">
<head>
  <title>Weekly Training Schedule</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧗</text></svg>">
  <!-- Bootstrap and any other styling I need-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
  <link rel="stylesheet" href="weekPlannerStyles.css">
</head>

<body class="page-background">
<div id="app">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/latticeLogo.png" alt="latticeLogo" width="50" height="50" style="margin-left:10px">
          Week Planner
        </a>
      <form class="form-inline">
        <a class="navbar-brand" href="#" style="float:left">
          Rob
          <i class="bi bi-person-circle"></i>
        </a>
      </form>
    </div>
  </nav>
  <div class="mx-3 my-2">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 session-container">
        <h2 class="session-text">Sessions</h2>
        <div class="row"> <!-- Each of the session Cards is here-->
          <div class="col-sm-12 col-md-12 col-lg-12 session-card-row">
            <div v-for="(session, index) in plannerData.Unscheduled" :key="session.name">
              <div class="card session-card" :style="{ backgroundColor: session.type_colour}" v-if="session.isAssigned == false">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                      <h3 class="card-title">{{session.name}}</h3>
                      <h4 class="card-text">Type: {{session.type}}</h4>
                      <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{session.length}} min</p>
                      <p class="icon-card-text"> | Intensity: {{session.target_intensity}} 
                        <i v-if="session.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="session.target_intensity >= 5 && session.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="session.target_intensity >= 3 && session.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                        
                      </p>
                      <p class="icon-card-text"> | Fatigue: {{session.target_fatigue}} 
                        <i v-if="session.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="session.target_fatigue >= 5 && session.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="session.target_fatigue >= 3 && session.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
                      <button type="button" class="btn btn-primary card-button" @click="viewExtraSessionDetails(session)">Details</button>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4">
                      <vuejs-datepicker :minimumView="'day'" :maximumView="'day'" 
                                        placeholder="Select Session Date" 
                                        :highlighted="state.highlighted" :disabled-dates="state2.disabled"
                                        v-bind:id="index"></vuejs-datepicker>
                    </div>
                    <div class="col-sm-3 col-md-4 col-lg-4">
                      <button type="button" class="btn btn-success card-button" @click="addSession(session, index)">Add Session</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 session-container">
        <h2 class="session-text">Weekly Log</h2>
        <div class="weekday-grid-wrapper"> <!-- Using Grid template here instead of bootstraps rows/cols-->
          <div style="grid-column: 1; grid-row: 1;" class="weekday weekday-column">
            <p class="weekday-text">Monday</p>
            <p class="session-length-text" v-if="sessionLengths.Monday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Monday.reduce((partialSum, a) => partialSum + a, 0)}} min </p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 1;" class="weekday session-cards-column" >
              <div v-for="cardSession in plannerData.Monday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 card-session-col"> <!-- Will be components-->
                      <h3 class="card-title"></h3>
                      <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Monday')"></i></h4>
                      <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                      <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                        <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                        <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <div style="grid-column: 1; grid-row: 2;" class="weekday weekday-column">
            <p class="weekday-text">Tuesday</p>
            <p class="session-length-text" v-if="sessionLengths.Tuesday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Tuesday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 2;" class="weekday session-cards-column">
            <div v-for="cardSession in plannerData.Tuesday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                    <h3 class="card-title"></h3>
                    <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Tuesday')"></i></h4>
                    <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                    <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                      <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                      <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="grid-column: 1; grid-row: 3;" class="weekday weekday-column">
            <p class="weekday-text">Wednesday</p>
            <p class="session-length-text" v-if="sessionLengths.Wednesday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Wednesday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 3;" class="weekday session-cards-column">
              <div v-for="cardSession in plannerData.Wednesday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                      <h3 class="card-title"></h3>
                      <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Wednesday')"></i></h4>
                      <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                      <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                        <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                        <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div style="grid-column: 1; grid-row: 4;" class="weekday weekday-column">
            <p class="weekday-text">Thursday</p>
            <p class="session-length-text" v-if="sessionLengths.Thursday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Thursday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 4;" class="weekday session-cards-column">
              <div v-for="cardSession in plannerData.Thursday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                      <h3 class="card-title"></h3>
                      <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Thursday')"></i></h4>
                      <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                      <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                        <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                        <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div style="grid-column: 1; grid-row: 5;" class="weekday weekday-column">
            <p class="weekday-text">Friday</p>
            <p class="session-length-text" v-if="sessionLengths.Friday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Friday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 5;" class="weekday session-cards-column">
              <div v-for="cardSession in plannerData.Friday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                      <h3 class="card-title"></h3>
                      <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Friday')"></i></h4>
                      <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                      <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                        <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                        <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                        <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                        <i v-else class="bi bi-reception-1 card-icons"></i>
                      </p>
                      <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div style="grid-column: 1; grid-row: 6;" class="weekday weekday-column">
            <p class="weekday-text">Saturday</p>
            <p class="session-length-text" v-if="sessionLengths.Saturday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Saturday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 6;" class="weekday session-cards-column">
              <div v-for="cardSession in plannerData.Saturday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                    <h3 class="card-title"></h3>
                    <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Saturday')"></i></h4>
                    <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                    <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                      <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                      <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                  </div>
                </div>
              </div>
          </div>
          <div style="grid-column: 1; grid-row: 7;" class="weekday weekday-column">
            <p class="weekday-text">Sunday</p>     
            <p class="session-length-text" v-if="sessionLengths.Sunday.reduce((partialSum, a) => partialSum + a, 0) > 0">Session Length: {{sessionLengths.Sunday.reduce((partialSum, a) => partialSum + a, 0)}} min</p>
            <p class="session-length-text" v-else>No Sessions</p>
          </div>
          <div style="grid-column: 2; grid-row: 7;" class="weekday session-cards-column">
              <div v-for="cardSession in plannerData.Sunday" :key="cardSession.name" class="card selected-session-card" :style="{ backgroundColor: cardSession.type_colour}">
                <div class="card-body">
                  <div class="col-sm-12 col-md-12 col-lg-12 card-session-col">
                    <h3 class="card-title"></h3>
                    <h4 class="card-text">Name: {{cardSession.name}} <i class="bi bi-trash3-fill trash-icon" @click="removeSession(cardSession, 'Sunday')"></i></h4>
                    <p class="icon-card-text"><i class="bi bi-stopwatch card-icons"></i> {{cardSession.length}} min</p>
                    <p class="icon-card-text"> | Intensity: {{cardSession.target_intensity}} 
                      <i v-if="cardSession.target_intensity >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 5 && cardSession.target_intensity < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_intensity >= 3 && cardSession.target_intensity < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="icon-card-text"> | Fatigue: {{cardSession.target_fatigue}} 
                      <i v-if="cardSession.target_fatigue >= 8" class="bi bi-reception-4 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 5 && cardSession.target_fatigue < 8" class="bi bi-reception-3 card-icons"></i>
                      <i v-else-if="cardSession.target_fatigue >= 3 && cardSession.target_fatigue < 5" class="bi bi-reception-2 card-icons"></i>
                      <i v-else class="bi bi-reception-1 card-icons"></i>
                    </p>
                    <p class="card-text" v-if="cardSession.variation != null">Variation: <strong>{{cardSession.variation}}</strong></p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>  
    </div>

  
  <div class="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" id="extraSessionDetailModal">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Additional Session Information</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeSessionDetailModal"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Name:</strong> {{this.selectedSession.name}} </p>
            </div>
          </div>
          <div class="row" v-if="this.selectedSession.variation != null">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Variation :</strong> {{this.selectedSession.variation}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Description:</strong> {{this.selectedSession.description}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Type:</strong> {{this.selectedSession.type}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Length:</strong> {{this.selectedSession.length}} Minutes</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Target Intensity:</strong> {{this.selectedSession.target_intensity}} </p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p><strong>Target Fatigue:</strong> {{this.selectedSession.target_fatigue}} </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" @click="closeSessionDetailModal" style="width: 50%;">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


<script>
const app = new Vue({
  el: '#app',
  components: {
    vuejsDatepicker,
  },
  data() {
    return {
      count: 0,
      toShow: true,
      plannerData: {},
      sessionTypes: [],
      selectedSession: {},
      sessionLengths: { //Object of arrays to calculate session lengths
        "Monday": [],
        "Tuesday": [],
        "Wednesday": [],
        "Thursday": [],
        "Friday": [],
        "Saturday": [],
        "Sunday": [],
      },
      mondayLength: 0,
      state: {
        highlighted: {
          // This function highlights the current weeks dates
          customPredictor: function(date) {
            var highlightDate = new Date();
            var highlightStartDate = new Date(highlightDate.getFullYear(), highlightDate.getMonth(), highlightDate.getDate() - highlightDate.getDay() + 1) ;
            var highlightEndDate = new Date(highlightDate.getFullYear(), highlightDate.getMonth(), highlightDate.getDate() - highlightDate.getDay() + 8);
            if (Date.parse(date) > Date.parse(highlightStartDate) && Date.parse(date) <= Date.parse(highlightEndDate)) {
              return true
            }
          },
        }
      },
      state2: {
        disabled: {
          // This function highlights the current weeks dates
          customPredictor: function(date) {
            var disabledDate = new Date();
            var disabledStartDate = new Date(disabledDate.getFullYear(), disabledDate.getMonth(), disabledDate.getDate() - disabledDate.getDay() + 1) ;
            var disabledEndDate = new Date(disabledDate.getFullYear(), disabledDate.getMonth(), disabledDate.getDate() - disabledDate.getDay() + 8);
            if (Date.parse(date) < Date.parse(disabledStartDate) || Date.parse(date) > Date.parse(disabledEndDate)) {
              return true
            }
          },
        }
      },
      globalDate: new Date(),
  }
  },
  mounted() {
    //Unable to read the data locally from json opening from just a HTML file due to security?
    //Running through a local server should be easy enough to read and then assign to variable
    //Could host json file somewhere and make an ajax query to it?

    // $.getJSON("data.json", function(json) {
    //   console.log(json)
    // });

    this.plannerData = {
      "Unscheduled": [
        {
            "name": "Max Hangs",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Strength and Power",
            "type_colour": "#ff968a",
            "length": 20,
            "target_intensity": 9,
            "target_fatigue": 4,
            "variation": "Four finger Half Crimp"
        },
        {
            "name": "Max Hangs",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Strength and Power",
            "type_colour": "#ff968a",
            "length": 20,
            "target_intensity": 9,
            "target_fatigue": 4,
            "variation": "Four finger Half Crimp"
        },
        {
            "name": "1 on 1 off",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Endurance",
            "type_colour": "#a7bed3",
            "length": 20,
            "target_intensity": 4,
            "target_fatigue": 4,
            "variation": null
        },
        {
            "name": "1 on 1 off",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Endurance",
            "type_colour": "#a7bed3",
            "length": 20,
            "target_intensity": 4,
            "target_fatigue": 4,
            "variation": null
        },
        {
            "name": "Regen",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Endurance",
            "type_colour": "#a7bed3",
            "length": 20,
            "target_intensity": 2,
            "target_fatigue": 3,
            "variation": null
        },
        {
            "name": "Regen",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Endurance",
            "type_colour": "#a7bed3",
            "length": 20,
            "target_intensity": 2,
            "target_fatigue": 4,
            "variation": null
        },
        {
            "name": "4 x 4",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Power Endurance",
            "type_colour": "#97c1a9",
            "length": 60,
            "target_intensity": 8,
            "target_fatigue": 8,
            "variation": null
        },
        {
            "name": "4 x 4",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Power Endurance",
            "type_colour": "#97c1a9",
            "length": 60,
            "target_intensity": 7,
            "target_fatigue": 8,
            "variation": null
        },
        {
            "name": "Press Ups",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Conditioning",
            "type_colour": "#ffffb5",
            "length": 25,
            "target_intensity": 6,
            "target_fatigue": 5,
            "variation": null
        },
        {
            "name": "Press Ups",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Conditioning",
            "type_colour": "#ffffb5",
            "length": 25,
            "target_intensity": 6,
            "target_fatigue": 5,
            "variation": null
        },
        {
            "name": "Yoga",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Flexibility",
            "type_colour": "#b28dff",
            "length": 20,
            "target_intensity": 3,
            "target_fatigue": 2,
            "variation": null
        },
        {
            "name": "Yoga",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Flexibility",
            "type_colour": "#b28dff",
            "length": 20,
            "target_intensity": 3,
            "target_fatigue": 2,
            "variation": null
        },
        {
            "name": "Yoga",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Flexibility",
            "type_colour": "#b28dff",
            "length": 20,
            "target_intensity": 3,
            "target_fatigue": 2,
            "variation": null
        },
        {
            "name": "Yoga",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Flexibility",
            "type_colour": "#b28dff",
            "length": 20,
            "target_intensity": 3,
            "target_fatigue": 2,
            "variation": null
        },
        {
            "name": "Yoga",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
            "type": "Flexibility",
            "type_colour": "#b28dff",
            "length": 20,
            "target_intensity": 3,
            "target_fatigue": 2,
            "variation": null
        }
        ],
        "Monday": [],
        "Tuesday": [],
        "Wednesday": [],
        "Thursday": [],
        "Friday": [],
        "Saturday": [],
        "Sunday": []
      }
    for(i = 0; i < this.plannerData.Unscheduled.length; i++) {
      this.plannerData.Unscheduled[i].isAssigned = false;
      this.plannerData.Unscheduled[i].dateSelected = null;
    }
  },
  methods: {
    sessionDateSelected(dateSelected, selectedSession) {
      var result  = this.plannerData.Unscheduled.filter(function(obj){return obj.name == selectedSession.name && obj.isAssigned == false}); //Find all sessions that belong to what has been chosen
      result[result.length - 1].dateSelected = dateSelected; //Assign the latest session in the array based of the length of session that are unassigned 
    },
    viewExtraSessionDetails(session) {
      this.selectedSession = session
      var s = $('#0').val()
      var d = new Date();
      console.log(d.getDay(s))
      $('#extraSessionDetailModal').show();
    },
    closeSessionDetailModal() {
      $('#extraSessionDetailModal').hide();
    },
    addSession(selectedSession, index) {
      var datePickerValue = $('#'+index).val().split(" ");
      //Do some shuffling to get the day of the week
      var formattedValue = datePickerValue[1] + " " + datePickerValue[0] + " " + datePickerValue[2] 
      const formattedDate = new Date(formattedValue);
      const dayofWeek = formattedDate.getDay(); // Sunday - Saturday : 0 - 6
      console.log(dayofWeek)
      if (isNaN(dayofWeek)) {
        alert("No date selected - Please choose a date that you want to complete your workout on.")
      } else {
        switch (dayofWeek) {
          case 0: //Sunday
            this.validateSessionAndAddSession(this.sessionLengths.Sunday, this.plannerData.Sunday, selectedSession) //Pass any allocated sessions data for that date and the session that has just been picked
            break;
          case 1: 
            this.validateSessionAndAddSession(this.sessionLengths.Monday, this.plannerData.Monday, selectedSession)
            break;
          case 2: 
            this.validateSessionAndAddSession(this.sessionLengths.Tuesday, this.plannerData.Tuesday, selectedSession)
            break;
          case 3: 
            this.validateSessionAndAddSession(this.sessionLengths.Wednesday, this.plannerData.Wednesday, selectedSession)
            break;
          case 4: 
            this.validateSessionAndAddSession(this.sessionLengths.Thursday, this.plannerData.Thursday, selectedSession)
            break;
          case 5: 
            this.validateSessionAndAddSession(this.sessionLengths.Friday, this.plannerData.Friday, selectedSession)
            break;
          case 6: 
            this.validateSessionAndAddSession(this.sessionLengths.Saturday, this.plannerData.Saturday, selectedSession)
            break;
        }
      }
    },
    validateSessionAndAddSession(sessionLengthDate, plannerData, selectedResult) {
      if ((parseInt(sessionLengthDate.reduce((partialSum, a) => partialSum + a, 0)) + selectedResult.length) <= 60) { //Calculate if the amount in the array is greater than expected 
        sessionLengthDate.push(selectedResult.length)   
        plannerData.push(selectedResult) //Push the latest one into the correct date
        selectedResult.isAssigned = true; //Assign the latest session in the array based of the length of session that are unassigned
      } else {
        alert("Session length will be greater than 1 hour")
      }
    },
    removeSession(cardSession, dayOfWeekToRemove) {
      var plannerDataArray = Object.values(this.plannerData);
      var UnscheduledPlannerDataArray = plannerDataArray[0]
      for (let i = 1; i < plannerDataArray.length; i++) { //Loop through the dates to find which array to remove the session object from
        if (plannerDataArray[i].includes(cardSession)) {
          const indexOfObject = plannerDataArray[i].findIndex(object => {
            return object.name === cardSession.name;
          });
          plannerDataArray[i].splice(indexOfObject, 1) //Once index has been found remove
        }
      }
      //Remove the session time and recalculate
      var sessionLengthArray = Object.values(this.sessionLengths);
      var lengthToRemoveFrom = null;
      switch(dayOfWeekToRemove) { //Get the session time array based on date
        case "Monday":
            lengthToRemoveFrom = sessionLengthArray[0]
            break;
        case "Tuesday":
            lengthToRemoveFrom = sessionLengthArray[1]
            break;
        case "Wednesday": 
            lengthToRemoveFrom = sessionLengthArray[2]
            break;
        case "Thursday": 
            lengthToRemoveFrom = sessionLengthArray[3]  
            break;
        case "Friday": 
            lengthToRemoveFrom = sessionLengthArray[4] 
            break;
        case "Saturday": 
            lengthToRemoveFrom = sessionLengthArray[5]
            break;
        case "Sunday": 
            lengthToRemoveFrom = sessionLengthArray[6]
            break;
      }
      const indexOfObject2 = lengthToRemoveFrom.findIndex(object => {
        return object === cardSession.length; //object eg: 25
      });
      lengthToRemoveFrom.splice(indexOfObject2, 1) //Find the index in the array where the lengths match and remove
      
      //Find the object in unsceduled that is assigned and unassign it show it can show in the sessions list 
      UnscheduledPlannerDataArray.find(x => x.name == cardSession.name && x.dateSelected == cardSession.dateSelected && x.isAssigned == true).isAssigned = false;
    }
  }
})

</script>