.session-container {
    border: solid 2px #A9A7A7;
    border-radius: 20px;
}

.session-card-row { 
    max-height: 80vh;
    overflow-y: scroll;
}

.session-card {
    --bs-card-spacer-y: 0.2rem;
    --bs-card-spacer-x: 0.5rem;
    border: 2px solid black ;
    margin-bottom: 5px;
}

.selected-session-card {
    --bs-card-spacer-y: 0.2rem;
    --bs-card-spacer-x: 0.5rem;
    border: 2px solid black ;
    margin: 5px;
    width: 48%;
}

.card-text {
    margin-bottom: 0px;
}

.modal-title {
    text-align: center;
}

.modal-backdrop {
    background-color: red;
}

.weekday-grid-wrapper {
    display: grid; 
    grid-template-columns: 20% 80%; 
    height: 80vh;
}

.weekday {
    border: solid 2px black;
}

.weekday-column {
    border-radius: 10px 0px 0px 10px;
    margin: 5px -1px 5px -1px;

}

.session-cards-column {
    border-radius: 0px 10px 10px 0px;
    margin: 5px -1px 5px -1px;
    min-height: 30px;
}

.session-text {
    text-align: center;
}

.weekday-text {
    text-align: center;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 20px;
}

.session-length-text {
    text-align: center;
    margin-bottom: 2px;
    margin-top: -5px;
}

@media screen and (max-width: 575px) {
    .selected-session-card {
        width: auto;
    }

}

/* @media screen and (max-width: 475px) {

} */

/* At this width stack the divs so the session picker is on top with the weekly table below */
@media screen and (max-width: 992px) {

    .weekday-grid-wrapper {
        display: inline;
        height: 100%;
        margin-bottom:10px;
    }

    .session-card-row { 
        max-height: 50vh;
        overflow-y: scroll;
    }

    .weekday-column {
        border-radius: 10px 10px 0px 0px;
        margin: 5px 0px 5px 0px;

    }

    .session-cards-column {
        border-radius: 0px 0px 10px 10px;
        margin: -7px 0px 20px 0px;
        width: 100%;
    }

    .session-text {
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }

    .weekday-text {
        text-align: center;
        margin-bottom: 0px;
        font-weight: bold;
        font-size: 20px;
    }

    .session-length-text {
        text-align: center;
        margin-bottom: 2px;
        margin-top: -5px;
    }

}
